#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Arial;
}

h1 {
    background-color: #000033;
    color: #FFFFFF;
    font-family: Georgia;
    line-height: 200%;
}

nav {
    font-weight: bold;
    background-color: #90c7E3;
}

h2 {
    color: #3399CC;
    font-family: Georgia;
}

dt {
    color: #000033;
    font-weight: bold;
}

.resort {
    color: #000033;
    font-size: 1.2em;
}

footer {
    font-size: .70em;
    font-style: italic;
    text-align: center;
}